# Environment Variables for Local Development
ENVIRONMENT=local
PORT=8000

# Database Configuration (PostgreSQL FTS)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bootcamp_product_recommendation

# Security Authentication Config
API_KEY=your_api_key_here

# OpenRouter LLM API Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
